.body--light {
  background: $white-page;
  color: $white-text-color;

  .q-card {
    background: $white-card-bg;
    border-radius: 1rem;
    border: 1px solid rgba(68, 50, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(168, 123, 0, 0.1);
  }

  .g-role-container {
    background-color: rgba($primary, 0.6);
  }

  .g-gradient-card {
    border: 1px solid rgba(68, 50, 0, 0.1);
  }

  .g-image-container {
    background-color: rgba($primary, 0.1);
  }

  .g-label {
    font-weight: 500;
  }
}

.body--dark {
  background: $dark-page;
  color: $white-text-color;

  .q-card {
    background: $dark-card-bg;
    border-radius: 1rem;
    border: 1px solid #3f3e3b;
    box-shadow: none;
  }

  .g-role-container {
    background-color: rgba(#3f3e3b, 0.5);
  }

  .g-gradient-card {
    background: linear-gradient(to bottom right, #252421 10%, #1b1814 80%);
    box-shadow:
      inset 1px 1px 0 #3f3e3b,
      inset -1px -1px 0 #2c2822;
    border: none;
  }

  .g-image-container {
    background-color: rgba(#3f3e3b, 1);
  }

  .g-label {
    opacity: 0.6;
  }
}

.q-separator {
  background: rgba(68, 50, 0, 0.1);
}
